**\__pycache__
**\*.pyc
.ipynb_checkpoints/
**\*.csv
*.log
/.vscode/
/.idea/
/.ipynb_checkpoints/
/.pytest_cache/
/.mypy_cache/
/.mypy/
.DS_Store
*/*/*/*.pth
*/**/*.pth
*/**/*/*.pth
*/**/*/*/*.pth
*/**/*/*/*/*.pth
*/**/*/*/*/*/*.pth
*/**/*/*/*/*/*/*.pth
*/**/*/*/*/*/*/*/*.pth
*/**/*/*/*/*/*/*/*/*.pth
*/**/*/*/*/*/*/*/*/*/*.pth
*/**/*/*/*/*/*/*/*/*/*/*.pth
*/*.npy
*/**/*.npy

